<h2>All Customers</h2>

<%= link_to 'Black List', black_list_path %>

<% @customers.each do |customer| %>

  <% if !customer.black_list %>
    <h3><%= customer.name %></h3>
    <p><%= customer.phone %></p>
    <p><%= customer.description %></p>
  <% end %>

<% end %>